---
layout: default
---
<!-- Post -->
{% for post in site.posts %} 
  <article class="post">
    <header>
      <div class="title">
      <span class="image left image-icon"><a href="{{ post.url | relative_url }}"></a></span>
        <h2><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
      </div>
      <div class="meta">
        <time class="published" datetime="{{ post.date }}">{{ post.date | date: "%d %b %Y %R" }}</time>
        <a href="https://www.github.com/{{ site.author.github_username }}" class="author"><span class="name">{{ site.author.last_name }} 作</span></a>
      </div>
    </header>
    {% if post.image %}
      <a href="{{ post.url | relative_url }}" class="image featured"><img src="/post-img/{{ post.category }}/{{ post.image }}" alt="{{ post.title }}"></a>
    {% endif %}
    {% if post.preview != 0 %}
      <p>{{ post.content | split:'<!--more-->' | first }}</p>
    {% endif %}
    <footer> 
      <ul class="actions">
        <li><a href="{{ post.url | relative_url }}" class="button big">展开全文</a></li>
      </ul>
      <ul class="stats">
        <li><a class="icon" href="{{ site.baseurl }}/{{ post.category }}"><i class="fas fa-fw fa-folder"></i> {{ post.category }}</a></li>
        <li><a href="//github.com/ViKapitoshka/blog/edit/master/{{ page.path }}" class="icon"><i class="fas fa-fw fa-edit"></i> Edit</a></li>
      </ul>
    </footer>
  </article>
{% endfor %}
